.metadata/
.settings/
.classpath
.project
target/
classes/
LICENSE.txt
.springBeans
*~
~*
*.swp
*.swo
*.pyc
*.iml
*.eml·
rebel.xml
.idea/
MANIFEST.MF
.~lock.*
*.ipr
*.iws
checkstyle/
.pydevproject·
.DS_Store
.cache
.jshintrc
*.o
*tracelogs/
.recommenders/
Servers/
.externalToolBuilders/
maven-eclipse.xml
node_modules
*log.txt
activemq-data/
nohup.out
*.pid
*.jar